---
---

<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pt-12">
    <svg viewBox="0 0 546.2 44.72" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <style>
          .uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6 {
            fill: #1d1d1b;
          }
        </style>
      </defs>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m0,31.96V12.76c0-3.78,1.25-6.85,3.75-9.21C6.25,1.18,9.41,0,13.23,0h36.72c3.82,0,6.99,1.18,9.51,3.55,2.52,2.37,3.78,5.44,3.78,9.21,0,.82-.04,2.06-.13,3.71v.65h-11.58v-4.04c0-1.26-.16-2.12-.49-2.57s-1.02-.68-2.07-.68H14.34c-.97,0-1.65.19-2.04.55-.4.37-.59,1.03-.59,1.99v19.92c0,.96.2,1.63.59,2.02.39.39,1.07.59,2.04.59h34.61c1.4,0,2.26-.65,2.57-1.95.13-.52.15-1.24.07-2.15,0-.17-.01-.46-.03-.85-.02-.39-.03-.69-.03-.91h-21.65v-9.83h33.23v.65c.09,5.38.13,9.4.13,12.04,0,3.78-1.26,6.86-3.78,9.24-2.52,2.39-5.69,3.58-9.51,3.58H13.23c-3.77,0-6.92-1.19-9.44-3.58-2.52-2.39-3.78-5.45-3.78-9.18ZM13.23.65c-3.82,0-6.87,1.17-9.15,3.52C1.8,6.51.66,9.37.66,12.76v19.2c0,3.38,1.14,6.25,3.42,8.59,2.28,2.34,5.33,3.52,9.15,3.52h36.72c3.82,0,6.88-1.17,9.18-3.52,2.3-2.34,3.45-5.23,3.45-8.66l-.13-12.04h-31.91v8.53h21.65v3.91c0,2.17-1.08,3.25-3.22,3.25H14.34c-2.19,0-3.29-1.08-3.29-3.25V12.37c0-1.13.25-1.94.76-2.44.5-.5,1.35-.75,2.53-.75h34.61c1.36,0,2.24.3,2.63.91.4.61.59,1.61.59,2.99.04,0,.07.43.07,1.3l-.07,1.24v.85h10.26l.07-.85c0-.3.01-.78.03-1.43.02-.65.03-1.13.03-1.43,0-3.39-1.15-6.25-3.45-8.59-2.3-2.34-5.36-3.52-9.18-3.52H13.23Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m77.84,44.72h-16.45l24.81-22.46L61.59,0h16.45l16.32,14.84L110.68,0h16.45l-24.54,22.26,24.74,22.46h-16.45l-16.52-15.04-16.52,15.04Zm9.34-22.46l-24.08,21.81h14.48l16.78-15.23,16.78,15.23h14.48l-24.02-21.81L125.41.65h-14.48l-16.58,15.04L77.77.65h-14.48l23.89,21.61Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m129.03 44.07c0-1.34-0.01-3.35-0.03-6.02s-0.03-4.65-0.03-5.96c0-3.91 1.18-6.92 3.55-9.05s5.55-3.39 9.54-3.78l28.36-2.67c1.27-0.09 2.06-0.31 2.37-0.68s0.46-1.23 0.46-2.57-0.15-2.32-0.46-2.8-1.05-0.72-2.24-0.72h-27.24c-1.54 0-2.41 0.65-2.63 1.95-0.09 0.43-0.13 1.19-0.13 2.28 0.09 1.13 0.13 1.93 0.13 2.41v0.65h-11.58l-0.07-0.59c0-0.43-0.01-1.07-0.03-1.92s-0.03-1.46-0.03-1.86c0-3.78 1.26-6.85 3.78-9.21s5.69-3.55 9.51-3.55h29.35c2.68 0 5.11 0.63 7.3 1.89s3.82 3.08 4.87 5.47c0.7 1.48 1.05 3.54 1.05 6.18 0 3.95-1.17 6.99-3.52 9.11-2.35 2.13-5.54 3.39-9.57 3.78l-28.23 2.67c-1.1 0.09-1.84 0.29-2.24 0.62s-0.59 0.92-0.59 1.79v3.39h43.43v9.83h-55.07v-0.65zm13.09-24.15c-3.99 0.35-7.08 1.56-9.28 3.65-2.19 2.08-3.27 4.93-3.22 8.53l0.07 11.98h53.76v-8.53h-43.43v-4.62c0-1.43 1.14-2.26 3.42-2.47l28.23-2.67c3.86-0.39 6.91-1.58 9.15-3.58s3.36-4.73 3.36-8.2c0-1.43-0.02-2.5-0.07-3.19-0.39-3.04-1.79-5.49-4.18-7.36s-5.17-2.8-8.32-2.8h-29.35c-3.82 0-6.88 1.17-9.18 3.52-2.3 2.34-3.45 5.21-3.45 8.59 0 0.3 0.01 0.78 0.03 1.43s0.03 1.13 0.03 1.43v0.85h10.33v-0.85c0-0.3-0.01-0.74-0.03-1.3s-0.03-0.98-0.03-1.24c0-1.34 0.22-2.33 0.66-2.96s1.34-0.94 2.7-0.94h27.24c2.19 0 3.29 0.91 3.29 2.73v2.41c0 0.52-0.09 1.04-0.26 1.56-0.44 0.78-1.47 1.24-3.09 1.37l-28.36 2.67z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m224.44,44.72c-3.77,0-6.92-1.19-9.44-3.58-2.52-2.39-3.78-5.45-3.78-9.18,0-.52.04-1.26.13-2.21v-.59h11.58v.65c0,.26-.01.62-.03,1.07-.02.46-.03.79-.03,1.01.09,1.04.15,1.61.2,1.69.31.87,1.14,1.3,2.5,1.3h31.19c1.14,0,1.88-.26,2.2-.78.33-.52.49-1.47.49-2.86,0-.87-.02-1.5-.07-1.89,0-.91-.2-1.55-.59-1.92-.4-.37-1.08-.55-2.04-.55h-32.31c-2.68,0-5.12-.65-7.34-1.95-2.22-1.3-3.83-3.15-4.84-5.53-.7-1.69-1.05-3.91-1.05-6.64,0-3.73,1.26-6.79,3.78-9.18,2.52-2.39,5.67-3.58,9.44-3.58h32.04c3.95,0,7.11,1.17,9.48,3.52,2.37,2.34,3.64,5.45,3.82,9.31l.07.72h-11.65v-.65c-.09-1.17-.31-1.97-.66-2.41-.35-.43-1.03-.65-2.04-.65h-29.94c-1.18,0-1.92.25-2.2.75-.29.5-.43,1.49-.43,2.96,0,1.39.15,2.32.46,2.8.31.48,1.03.72,2.17.72h32.24c3.82,0,6.99,1.18,9.51,3.55,2.52,2.37,3.78,5.44,3.78,9.21,0,3.17-.35,5.6-1.05,7.29-1.01,2.43-2.61,4.31-4.8,5.63-2.19,1.32-4.67,1.99-7.44,1.99h-33.36Zm-12.57-12.76c0,3.38,1.14,6.25,3.42,8.59,2.28,2.34,5.33,3.52,9.15,3.52h33.36c2.67,0,5.04-.64,7.11-1.92,2.06-1.28,3.57-3.05,4.54-5.31.66-1.56.99-3.91.99-7.03,0-3.43-1.15-6.3-3.46-8.63-2.3-2.32-5.36-3.48-9.18-3.48h-32.24c-2.19,0-3.29-1.08-3.29-3.25v-2.21c.09-1.17.35-1.97.79-2.41.44-.43,1.27-.65,2.5-.65h29.94c2.06,0,3.16.96,3.29,2.86l.07.85h10.26v-.91c-.22-3.25-1.47-5.96-3.75-8.1s-5.24-3.22-8.88-3.22h-32.04c-3.77,0-6.81,1.17-9.11,3.52-2.3,2.34-3.46,5.21-3.46,8.59,0,2.69.33,4.82.99,6.38.96,2.26,2.48,4,4.54,5.24,2.06,1.24,4.41,1.86,7.04,1.86h32.31c.96,0,1.75.22,2.37.65.61.43.92,1.02.92,1.76,0,1.13.02,2,.07,2.6,0,1.43-.21,2.51-.62,3.22-.42.72-1.33,1.07-2.73,1.07h-31.19c-1.49,0-2.43-.41-2.83-1.24-.31-.56-.46-1.78-.46-3.65v-.85h-10.26l-.07.78c0,.13-.01.35-.03.65-.02.3-.03.54-.03.72Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m295.97,9.83h-24.41V0h60.47v9.83h-24.41v34.89h-11.65V9.83Zm-23.75-.65h24.41v34.89h10.33V9.18h24.41V.65h-59.15v8.53Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m333.67,31.96V0h11.71v32.29c0,.96.2,1.63.59,2.02s1.07.59,2.04.59h31.85c.96,0,1.63-.2,2.01-.59.37-.39.56-1.06.56-2.02V0h11.71v31.96c0,3.73-1.26,6.79-3.78,9.18-2.52,2.39-5.67,3.58-9.44,3.58h-34.02c-3.77,0-6.92-1.19-9.44-3.58-2.52-2.39-3.78-5.45-3.78-9.18Zm.66,0c0,3.38,1.14,6.25,3.42,8.59,2.28,2.34,5.33,3.52,9.15,3.52h34.02c3.82,0,6.86-1.17,9.15-3.52,2.28-2.34,3.42-5.21,3.42-8.59V.65h-10.4v31.64c0,2.17-1.08,3.25-3.22,3.25h-31.85c-2.19,0-3.29-1.08-3.29-3.25V.65h-10.4v31.31Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m399.01 0h49.88c3.82 0 6.98 1.18 9.51 3.55 2.52 2.37 3.78 5.44 3.78 9.21v19.2c0 3.73-1.26 6.79-3.78 9.18s-5.69 3.58-9.51 3.58h-49.88v-44.72zm0.66 44.07h49.22c3.82 0 6.88-1.17 9.18-3.52 2.3-2.34 3.45-5.21 3.45-8.59v-19.2c0-3.39-1.15-6.25-3.45-8.59s-5.36-3.52-9.18-3.52h-49.22v43.42zm10.33-34.89h37.84c2.19 0 3.29 1.06 3.29 3.19v19.92c0 2.17-1.1 3.25-3.29 3.25h-37.84v-26.36zm0.66 25.71h37.18c0.96 0 1.64-0.2 2.04-0.59s0.59-1.06 0.59-2.02v-19.91c0-0.95-0.2-1.62-0.59-1.99s-1.08-0.55-2.04-0.55h-37.18v25.06z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m466.72,0h11.71v44.72h-11.71V0Zm11.05.65h-10.4v43.42h10.4V.65Z"
      ></path>
      <path
        class="uuid-a59e43e8-0305-4949-b3ad-333c2c1badf6"
        d="m482.97 12.76c0-3.73 1.26-6.79 3.78-9.18s5.67-3.58 9.44-3.58h36.72c3.82 0 6.99 1.18 9.51 3.55s3.78 5.44 3.78 9.21v19.2c0 3.73-1.26 6.79-3.78 9.18s-5.69 3.58-9.51 3.58h-36.72c-3.77 0-6.92-1.19-9.44-3.58s-3.78-5.45-3.78-9.18v-19.2zm0.66 19.2c0 3.38 1.14 6.25 3.42 8.59s5.33 3.52 9.15 3.52h36.72c3.82 0 6.88-1.17 9.18-3.52 2.3-2.34 3.45-5.21 3.45-8.59v-19.2c0-3.39-1.15-6.25-3.45-8.59s-5.36-3.52-9.18-3.52h-36.72c-3.82 0-6.87 1.17-9.15 3.52-2.28 2.34-3.42 5.21-3.42 8.59v19.2zm13.69 3.58c-2.19 0-3.29-1.08-3.29-3.25v-19.92c0-1.13 0.25-1.94 0.76-2.44 0.5-0.5 1.35-0.75 2.53-0.75h34.61c2.15 0 3.22 1.06 3.22 3.19v19.92c0 2.17-1.08 3.25-3.22 3.25h-34.61zm-2.63-23.18v19.92c0 0.96 0.2 1.63 0.59 2.02 0.4 0.39 1.07 0.59 2.04 0.59h34.61c0.92 0 1.58-0.2 1.97-0.59s0.59-1.06 0.59-2.02v-19.91c0-0.95-0.2-1.62-0.59-1.99s-1.05-0.55-1.97-0.55h-34.61c-0.97 0-1.64 0.19-2.04 0.55-0.39 0.37-0.59 1.03-0.59 1.99z"
      ></path>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <div class="flex flex-col sm:flex-row gap-3 justify-between items-center">
        <div class="flex gap-3 items-center">
          <span class="text-secondary text-sm font-semibold"
            >Software development & engineering consultancy, based in France</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/gx2-studio"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="mailto:hello@gx2-studio.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="h-1.5 bg-pal1"></div>
      <div class="h-3 bg-pal2"></div>
      <div class="h-6 bg-pal3"></div>
      <div class="h-12 bg-pal4"></div>
      <div class="h-24 bg-pal5 flex items-end p-4"></div>
    </div>
  </div>
</section>
