<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-2xl font-medium">
        <span>Our</span>
        <span class="font-bold">services</span>
      </h3>
    </div>
    <div class="grid lg:grid-cols-12 gap-4 mt-12">
      <!-- // -->
      <div
        class="p-5 col-span-6 border-solid border rounded-xl border-secondary flex flex-col gap-y-3"
      >
        <span class="font-bold">Software development</span>
        <div class="h-0.5 bg-secondary aos-init aos-animate"></div>
        <span
          >Beyond the product launch, we act as an engineering partner and
          deliver software and key business features you can depend upon. We are
          committed to helping your business grow as we tackle complex technical
          problems efficiently, ensuring that your technical stack improves and
          accelerates with you. We are product engineers, not ticket pushers.
          Evil Martians become part of your product team, shipping software and
          bringing value to your business day after day. We prefer Agile
          methodologies and rapid iterations over waterfall processes and
          formalities.</span
        >
      </div>
      <!-- // -->

      <div
        class="rotate-3 p-5 col-span-6 border-solid border rounded-xl border-secondary flex flex-col gap-y-3"
      >
        <span class="font-bold">Software development</span>
        <div class="h-0.5 bg-secondary aos-init aos-animate"></div>
        <span
          >Beyond the product launch, we act as an engineering partner and
          deliver software and key business features you can depend upon. We are
          committed to helping your business grow as we tackle complex technical
          problems efficiently, ensuring that your technical stack improves and
          accelerates with you. We are product engineers, not ticket pushers.
          Evil Martians become part of your product team, shipping software and
          bringing value to your business day after day. We prefer Agile
          methodologies and rapid iterations over waterfall processes and
          formalities.</span
        >
      </div>
    </div>
  </div>
</section>
