---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import logo from "/public/logo.svg";
---

<Layout title="Gx2 Studio">
	<main class="flex justify-center items-center flex-col p-12">
		<Image src={logo} alt="descriptive text" />
		<p class="font-mono">WIP</p>
	</main>
</Layout>
